html {
  margin: 0;
  border: 0;
  padding: 0;
  
  font-family: sans-serif;
}

body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0; 
}

input:focus {outline: none; }

.addbox {
  display: block;
  top: 65px;
  width: 100%;
  text-align: center;
  border: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(16, 16, 16);
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 200;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  padding: 2px;
  height: 40px;
  -webkit-transition: all .2s;
  -webkit-appearance: none;
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  z-index: 100;
}

.addprice {
  display: block;
  top: 65px;
  width: 100%;
  text-align: center;
  border: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(16, 16, 16);
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 200;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  padding: 2px;
  height: 40px;
  -webkit-transition: all .2s;
  -webkit-appearance: none;
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  z-index: 100;
}


.header{
  width: 330px;
  height: 65px;
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  z-index: 100;
}

.page1{
  -webkit-transition: all .2s; 
}

.preview{
  left: 331px;
  -webkit-transition: all .2s;
}

.container{
  width: 330px;
  height: 560px;
  background-color: #F9F9F9;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.watchlist {
  position: relative;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  top: 107px;
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
}

.showitem {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: #fff;
  overflow-x: hidden;
  top: 107px;
}

.item {
  position: relative;
  width: 330px;
  height: 72px;
  background-color: #ffffff;
  
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
}

.item:hover{
  background-color: #f8f8f8; 
}

.item-icon {
  display: block;
  position: relative;
  top: 17px;
  left: 21px;
  width: 35px;
  height: 35px;
}

.pvicon {
  left: 145px;
  top: 130px;
}

.pvname {
  position: relative;
  top: 145px;
  display: block;
  width: 100%;
  text-align: center;
}

.name {
  display: block;
  position: absolute;
  top: 17px;
  left: 79px;
  font-weight: 300;
  font-size: 13;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}

.price {
  display: block;
  position: absolute;
  top: 38px;
  left: 79px;
  font-size: 12px;
  font-weight: 100;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8e8e8e;
  letter-spacing: 0.5px;
}

.maplefm {
  position: absolute;
  background: url(maplefm-icon.png);
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  left: 143px;
  top: 15px;
}

.disclaimer{
  position: fixed;
  bottom: 18px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  opacity: 0.4;
}

.octicon-x{
  position: absolute;
  right: 20px;
  top: 28px;
  opacity: 0.4;
}