html {
  margin: 0;
  border: 0;
  padding: 0;

  font-family: sans-serif;
}

body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}

input:focus {outline: none; }

.addbox {
  display: block;
  top: 65px;
  width: 100%;
  text-align: center;
  border: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(16, 16, 16);
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 200;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  padding: 2px;
  height: 40px;
  -webkit-transition: all .2s;
  -webkit-appearance: none;
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  z-index: 100;
}

.addprice {
  display: block;
  top: 65px;
  width: 100%;
  text-align: center;
  border: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(16, 16, 16);
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 200;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  padding: 2px;
  height: 40px;
  -webkit-transition: all .2s;
  -webkit-appearance: none;
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  z-index: 100;
}


.header{
  width: 330px;
  height: 65px;
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  z-index: 600;
}

.page1{
  -webkit-transition: all .2s;
}

.preview{
  left: 331px;
  -webkit-transition: all .2s;
}

.container{
  width: 330px;
  height: 560px;
  background-color: #F9F9F9;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar:hover {
    display: block;
}

.watchlist {
  position: relative;
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  top: 107px;
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
}

.showitem {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: #fff;
  overflow-x: hidden;
  top: 107px;
}

.owlOfMinerva {
  position: fixed;
  width: 100%;
  height: 443px;
  overflow-x: hidden;
  background-color: #f9f9f9;
  top: 64px;
  left: 332px;
  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  z-index: 200;
  -webkit-transition: all .2s;
}

.shopname{
  display: block;
  position: absolute;
  top: 16px;
  left: 25px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}

.sellprice {
  display: block;
  position: absolute;
  top: 38px;
  left: 24px;
  font-size: 12px;
  font-weight: 100;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8e8e8e;
  letter-spacing: 0.5px;
}

.fmroom{
  display: block;
  position: absolute;
  right: 18px;
  top: 18px;
  color: #2175b2;
  font-weight: 400;
  font-size: 24px;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}

.server-icon{
  display: block;
  position: relative;
  float: left;
  top: 5px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
}

.server-name{
  display: block;
  position: relative;
  margin-right: 5px;
  float: left;
  top: 0px;
  float: right;
  color: white;
  font-weight: 100;
  font-size: 13px;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;

}

.server{
  display: inline-block;
  position: absolute;
  right: 19px;
  top: 19px;
  /*background-color: #3B3B3D;*/
  padding: 4px 6px;
  border-radius: 5px;
  z-index: 502;
  width: auto;
}

.backbtn{
  position: absolute;
  left: 19px;
  top: 23px;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0.5;
  display: none;
  color: #555;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 5px;
  margin-top: -3px;
  margin-left: -10px;
}

.backbtn:hover{
  background-color: rgba(0,0,0,0.04);
  color: #000000;
}

.shopitem {
  position: relative;
  width: 330px;
  height: 72px;
  background-color: #ffffff;

  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
}


.item {
  position: relative;
  width: 330px;
  height: 72px;
  background-color: #ffffff;
  cursor: pointer;

  box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 1px 0.00px rgba(0, 0, 0, 0.26);
}

.item:hover{
  background-color: #f8f8f8;
}

.item-icon {
  display: inline-block;
  position: relative;
  left: 21px;
  width: 35px;
  vertical-align: middle;
}

.pvicon {
  left: 145px;
  top: 130px;
}

.pvname {
  position: relative;
  top: 145px;
  display: block;
  width: 100%;
  text-align: center;
}

.name {
  display: block;
  position: absolute;
  top: 17px;
  left: 79px;
  font-weight: 300;
  font-size: 13;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}

.price {
  display: block;
  position: absolute;
  top: 38px;
  left: 79px;
  font-size: 12px;
  font-weight: 100;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #8e8e8e;
  letter-spacing: 0.5px;
}

.maplefm {
  position: absolute;
  background: url(maplefm-icon.png);
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  left: 143px;
  top: 15px;
}

.disclaimer{
  position: fixed;
  bottom: 18px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: "Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.4);
}

.octicon-x{
  position: absolute;
  right: 15px;
  top: 26px;
  padding: 2px 5px;
  border-radius: 50%;
  opacity: 0.4;
}

.octicon-x:hover{
  background-color: #535353;
  color: white;
  transition: .3s;
  cursor: pointer;
}

/* selection dropdown */

ul.selectReplacement {
  float: right;
  margin: 0;
  padding: 0;
  height: 1.65em;
  width: 100px;
}
ul.selectReplacement li {
  background: #4e4e4e;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 12px;
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 1px 10px 1px 5px;
  width: 90px;
}
ul.selectOpen li {
  display: block;
}

ul.selectReplacement li.selected {
  float: right;
  color: #393939;
  background: white;
  /*color: #fff;
  background: #4e4e4e;*/
  border: 1px #ededed solid;
  display: inline-block;
  width: auto;
  border-radius: 5px;
}
ul.selectOpen li.selected {
  float: none;
  color: #fff;
  background: #242424;
  border: 0px;
  width: 90px;
  display: block;
  border-radius: 0px;
}

ul.selectOpen li:hover,
ul.selectOpen li.selected:hover{
  background: #242424;
  color: #fff;
  cursor: pointer;
}

select.replaced {
  display: none;
}


.ui-autocomplete {
  background: #fff;
  border-radius: 5px;
  padding: 0;
  border: solid 1px #ddd;
  font-size: 13px;
  color: #aaa;
  width: 240px !important;
  position: absolute !important;
  top: 110px !important;
  left: 45px !important;
}

.ui-autocomplete::before{
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ddd;
  position: absolute;
  top: -10px;
  left: 110px;
}

.ui-autocomplete::after{
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -8px;
  left: 110px;
}

.ui-menu-item {
  list-style: none;
  padding: 7px 15px;
  cursor: pointer;
}
.ui-menu-item:hover {
  background: #f3f3f3;
}

.ui-menu-item:hover{
  color: #000;
}

.ui-helper-hidden-accessible{
  display: none;
}

.helper{
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}

.pulse:before {
  color: rgba(255,48,48,0.7);
	-webkit-animation: pulse2 1s linear infinite;
	-moz-animation: pulse2 1s linear infinite;
	-ms-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }

}
